@import "null";

body {
  background-color: #E5C8A8;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    justify-content: space-around;
    height: 13vh;
    width: 100vw;
    background-color: #554B38;
    opacity: 80%;
    border: 1px solid black;

    .header__link {
      margin-top: 2%;

      a {
        text-decoration: none;
        color: lightgray;
        font-size: 20px;

        &:hover {
          color: black;
        }
      }
    }


    .button_menu {
      margin-top: 15%;
      border-radius: 15px;
      height: 7vh;
      width: 11vw;
      background-color: #DCD0BA;
      border: 5px solid #3B3024;
      outline: none;

      &:hover {
        background-color: #3B3024;
        cursor: pointer;
        border-color: #DCD0BA;
        background-color: #3B3024;
        color: #DCD0BA;
      }
    }
  }

  .menu {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 30vw;
    height: 87vh;
    background-color: #977961;
    border: 1px solid black;
    border-top: 0px;
    transition: 0.5s;

    .items {
      color: #3B3024;
      font-size: 24px;
      font-family: Gargi;
    }
  }

  .text {
    position: fixed;
    height: 20vh;
    width: 40vw;
    right: 15vw;
    top: 30vh;
    font-size: 20px;
  }

}









