@import "null";

body {
  background-color: #EEF1F4;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    justify-content: space-around;
    height: 13vh;
    width: 100vw;
    background-color: #4F5A6E;
    opacity: 80%;
    border: 1px solid black;

    .header__link {
      margin-top: 2%;

      a {
        text-decoration: none;
        color: lightgray;
        font-size: 20px;

        &:hover {
          color: red;
        }
      }
    }


    .button_menu {
      margin-top: 15%;
      border-radius: 10px;
      height: 7vh;
      width: 9vw;
      background-color: #59A969;
      border: 10px solid darkgreen;
      outline: none;

      &:hover {
        background-color: #96D9FF;
        cursor: pointer;
        border-color: #59A969;
        background-color: darkgreen;
      }
    }
  }

  .menu {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 30vw;
    height: 87vh;
    background-color: #59A969;
    border: 1px solid black;
    border-top: 0px;
    transition: 0.5s;

  }

  .creative {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 30%;
    top: 50%;


  }

}









